{%extends "layout.html"%}

{% block body %}
<h3>Hakkımda</h3>
<hr>
<p>Eğer hayatta başarılı olma konusunda gerçekten ciddiyseniz o zaman hayatta başarılı olmuş insanların ilham veren hikayeleri ile kendinizi eğitmekten başka yapacak daha iyi bir şey yoktur. Hayatta, kariyerinde ya da işinde başarılı olmak isteyen birçok insan, genellikle bunu pek başaramıyor çünkü başarılı olmanın neleri gerektirdiğini ve başarıya giden yolun nasıl olduğunu bilmiyorlar. Sadece, halihazırda başarılı olan ve bunun meyvesini yiyen insanları görüyorlar ve o insanın bu mertebeye ulaşana kadar nelerden feragat ettiğini ya da ne kadar çabaladığını ilk bakışta göremiyorlar tabii ki.

    Başarılı insanların ilham verici hikayelerini öğrenerek başarıya giden yolun nasıl olduğunu göreceksiniz ve böylece sizin de başarılı olma şansınız aratacaktır.
    
    Şimdi birlikte başarılılarıyla ün kazanmış insanların bizi heveslendirecek hikayelerine bir göz atalım.
    
    Bilginiz arttıkça siz de başarıya bir adım daha yaklaşacaksınız.</p>
  
{% endblock body %}